<!-- views/pages/admin.ejs -->
<!doctype html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> KU Career Management System</h1>

        <p>Admin Page</p>

    </div>

</div>
<% include ../partials/footer %>
</body>
</html>